.motor {
    width: 50%;
    position: relative;
    text-align: center;
}

.motor__image img {
    width: 100%;
    height: 100%;
}

.motor .motor__info {
    position: absolute;
}

.model_info {
    top: 5px;
    left: 90px;
    display: flex;
    color: rgb(58, 144, 179);
}

.value {
    font-size: 28px;
    font-weight: 600;
}

.unit {
    font-size: 12px;
}

.suction-press {
    top: 195px;
    left: 90px;
}

.discharge-press {
    top: 160px;
    left: 175px;
}

.flow-rate {
    top: 360px;
    left: 103px;
}

.impeller-temp {
    top: 218px;
    left: 300px;
}

.vibration1 {
    top: 175px;
    left: 312px;
}

.vibration2 {
    top: 175px;
    left: 412px;
}

.bearing-temp {
    top: 218px;
    left: 412px;
}

.current {
    top: 215px;
    left: 530px;
}

.fla {
    top: 170px;
    left: 530px;
}

.motor-temp {
    top: 125px;
    left: 530px;
}