* {
  box-sizing: border-box;
  scrollbar-width: thin;
  /**firefox*/
}

/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  border: 1px solid white;
  border-radius: 20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(199, 199, 199);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app-container {
  display: flex;
}

.nav-container {
  display: flex;
}

.right-container {
  width: 94%;
}

.top-strip {
  width: 101%;
  height: 5vh;
  background-color: navy;
}

.top-strip h2 {
  color: aliceblue;
  margin: 0 5px;
}

.side-strip {
  height: 100vh;
  width: 5%;
  background-color: blue;
}

.alert-box, .failure-time, .motor, .recommendation, .risk-info, .round-graph-container, .line-graph-container {
  background-color: white;
  border-radius: 2px;
  height: 100%;
  float: left;
}

.alert-box, .failure-time, .motor, .recommendation, .risk-info, .rounded-graph, .line-graph-container {
  border-right: 5px solid rgb(199, 199, 199);
  border-bottom: 5px solid rgb(199, 199, 199);
}

.content-container {
  width: 101%;
  height: 95vh;
  padding: 5px 0 0 5px;
}

.content-container__top {
  height: 70%;
}

.content-container__bottom {
  height: 30%;
}

.round-graph-container {
  width: 20%;
}

.rounded-graph {
  height: 50%;
}

.line-graph-container {
  width: 30%;
}

.line-graph {
  height: 33.33%;
}

.alert-box, .failure-time, .recommendation, .risk-info {
  width: 25%;
}

.alert-box {
  padding: 2px;
}

h4 {
  margin: 0 0 0 5px;
  color: gray;
}

.recommendation__content {
  padding-left: 10px;
  overflow-x: scroll;
  height: 84%;
}

.recommendation p {
  white-space: nowrap;
  padding: 0 5px;
  margin: 0;
}

.recommendation h4 {
  padding-top: 10px;
}

.circular__graph {
  width: 70%;
  margin: auto;
}

.alert-data, .failure-time__data, .risk-info__data {
  padding: 10px 6px;
}

.alert-data table {
  border-collapse: collapse;
}

.alert-data thead {
  background-color: navy;
  color: white;
}

.alert-data tr {
  height: 30px;
  border-bottom: 1px solid gray;
}

.alert-data th {
  font-size: 15px;
  font-weight: 600;
  border: none;
}

.alert-data th {
  padding: 0 4px;
}